<h5>Meeting to introduce Gender Equality Working Group</h5>
<div>
  <em>Date: 06/10/2016</em>
</div>
<div>
  On 6th October 2016, Ministry of Justice and National Legislative Development Project (NLD) organized a meeting to introduce the Expert Group on evaluating gender mainstreaming in policy development and legislative drafting (Gender Equality Working Group – GEWG). GEWG is established by Decision 1985/QD-BTP by Minister of Justice dated 21st September 2016.
</div>
<div>
  <img src='/images/genderwork.jpg' class="image-pm"/>
</div>
<div>
  <p>
    The meeting was chaired by Mr. Nguyen Hong Tuyen, Director General of Department of General Affairs of Legislative Development (GALD), Ministry of Justice and Mr. Jacob Gammelgaard, NLD Project Field Manager. At the meeting, Mr. Do Dinh Luong &nbsp;from GALD annouced the Decision 1985/QD-BTP and introduced the group members. GEWG members come from Ministry of Justice, Ministry of Labours, Invalids and Social Affairs, Ministry of Home Affairs, Ministry of Finance, Ministry of Agriculture and Rural Development, Ministry of Industry and Trade and Department of Social Affairs of Office of National Assembly.
  </p>
  <p>
    Main functions of the GEWG is to conduct gender impact assessment, gender analysis in accordance with Law on Promulgation of Legal Normative Documents 2015 (LPLND 2015) and Decree 34/2016/ND-CP dated 14<sup>th</sup> May 2016 of the Government detailing some articles and implementation measures of LPLND 2015; provide guidance and conduct trainings on gender mainstreaming in law making; review legislations and recommend solutions to improve the gender mainstreaming in law making; study, revise the toolkit of gender mainstreaming in law making.
  </p>
  <p>
    On behalf of NLD, Mr. Gammelgaard emphasized that the establishment of the GEWG and the implementation of their activities would improve the capacity of NLD partners as well as other agencies which have leading roles in gender mainstreaming and reassured the support of NLD in both technical and financial terms for GEWG to complete their tasks.
  </p>
  <p>
    <img alt="" src="http://nldvietnam.org/files/uploads/images/20161006_GEWG%20introduction.jpg" class="image-pm"/>
  </p>
  <p>
    It can be said that this is the first inter-ministerial working group about gender mainstreaming in law making in Vietnam, a breakthrough in gender mainstreaming in lawmaking, which contribute to the implementation of the gender equality of NLD Project.
  </p>
</div>
