<h5>Meeting between Vice Minister of Justice Dinh Trung Tung and National
  Legislative Development Project Office</h5>
<div>
  <em>Date: 17/08/2016</em>
</div>

<div>
  On 17th August 2016, Vice Minister of Justice Dinh Trung Tung met with Ms. Kimberly Inksater – Project Director of National Legislative Development Project (NLD Project), Mr. Isabeau Vilandre – Former NLD Project Field Manager, Mr. Jacob Gammelgaard - NLD Project Field Manager and Ms. Harriet Roos – First Secretary of Canadian Embassy in Vietnam.
</div>
<div>
  <img src='/images/vm-meet.jpg' class="image-pm"/>
</div>
<div>
  <p>
    Mr. Tung reiterated some achievements of NLD Project and Ministry of Justice in the past 3 years when Mr. Isabeau was the NLD Project Field Manager, one of which was NLD&rsquo;s support for the development and adoption of Law on Promulgation of Legal Normative Documents 2015. Mr. Tung praised Mr. Vilandre&rsquo;s contributions to the legislative development in Vietnam and wished Mr. Vilandre success and opportunities to utilize valued experience from Vietnam legislative development in his new job.
  </p>
  <p>
    <img src='/images/vm-meet2.png' class="image-pm"/>
  </p>
  <p>
    <em>Vice Minister Dinh Trung Tung and Mr. Isabaeu Vilandre</em>
  </p>
  <p>
    Mr. Tung congratulated Mr. Gammelgaard on his new position as the NLD Project Field Manager and wished him to timely get used to work and continue the success of NLD Project.
  </p>
  <p>
    In a response, Mr. Vilandre and Mr. Gammelgaard thanked Mr. Tung and emphasized that the work transition in NLD Office were being conducted quickly and effectively so that upcoming activities would be implemented in compliance with Annual Workplan 2016-2017 to implement the Law on Promulgation of Legal Normative Documents effectively.&nbsp;
  </p>
</div>
