<div id="wrapper">
  <nav class="nav-fixed">
    <div class="nav-wrapper white">
       <a href="/home.html" class="left brand-logo"><img src="/images/logo.png" class="left brand-logo" alt="Logo" /></a>
       <a href="#" data-activates="mobile-demo" class="button-collapse hide-on-large-only"><i class="material-icons red-text">menu</i></a>
       <a href="/home.html" class="left brand-logo red-text">NLD</a>
       <ul class="right hide-on-med-and-down">
         <li><a href="/home.html">Home</a></li>
         <li><a href="/about.html">About</a></li>
         <li><a href="/consultant.html">Consultant</a></li>
         <li><a href="/contact.html">Contact</a></li>
       </ul>
    </div>
  </nav>

  <ul class="side-nav" id="mobile-demo"> <!-- move outside of nav -->
    <li><a href="/home.html">Home</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/consultant.html">Consultant</a></li>
    <li><a href="/contact.html">Contact</a></li>
  </ul>
  <div class="space-nav"></div>
</div>
