<h5>Implementing Partners</h5>
<p>
<strong>In Canada:</strong> The Canadian Executing Agency is a consortium of the Canadian Bar
Association (CBA), Ontario Justice International, Ministry of the Attorney
General of Ontario, and Stikeman Elliott LLP.
</p>
<strong>In Vietnam:</strong> Ministry of Justice (lead partner); the Law Committee of the
National Assembly; the Office of Government; Ministry of Finance; Ministry
of Agriculture and Rural Development; and the Ministry of Industry and Trade.
</p>
<br/>
<!-- COLLECTION -->
<h5>Partners in Vietnam</h5>
<ul class="collection">
  <li class="collection-item avatar">
    <img src="images/moj.jpg" alt="MoJ" class="circle">
    <span class="title"><strong>Ministry of Justice - <%= link_to "moj.gov.vn", "http://www.moj.gov.vn/", target: :_blank %></strong></span>
    <p>
    NLD holds close cooperation with several departments of the Ministry of Justice,
    including: Department of General Affairs on Legislative Development; Department
    of International Cooperation; Bureau of Legal Normative Documents Post-review 
    and Institute of Legal Science.
    </p>
    <p>
    The Ministry of Justice performs the state management on development and
    implementation of laws and regulations, post-review of legal normative documents, 
    control of administrative procedures, and legal dissemination and education.
    The details of functions, tasks, powers and organizational structure of Ministry
    of Justice are presented in Decree No. 22/2013/ND-CP dated 13 March 2013 of the
    Government on the functions, tasks, powers and organizational structure of the
    Ministry of Justice. 
    </p>
  </li>

  <li class="collection-item avatar">
    <img src="images/mof.jpg" alt="" class="circle">
    <span class="title"><strong>Ministry of Finance - <%= link_to "mof.gov.vn", "http://www.mof.gov.vn/", target: :_blank %></strong></span>
    <p>
    The Ministry of Finance has the function of implementing the state management in
    finance, including: State budget, tax, fees and other revenues of the State
    budget, national reserve, State financial funds, financial investment, corporate
    finance and financial services.
    </p>
    <p>
    The details of functions, tasks, powers and organizational structure of Ministry
    of Finance are presented in Decree No 215/2013/NĐ-CP dated 23 December 2013
    issued by the Government on the functions, tasks, powers and organizational
    structure of the Ministry of Finance.
    </p>
  </li>

  <li class="collection-item avatar">
    <img src="images/moit.jpg" alt="" class="circle">
    <span class="title"><strong>Ministry of Industry and Trade - <%= link_to "moit.gov.vn", "http://www.moit.gov.vn/", target: :_blank %></strong></span>
    <p>
    The Ministry of Industry and Trade performs the state management on industry
    and trade, including sectors such as renewable energy, petro-chemicals, mine
    exploration and minerals processing industries, food technologies and other
    processing technologies, e-commerce, trade services, international economic
    integration, competition management, anti-dumping, anti-subsidies, and
    consumer rights protection.
    </p>
    <p>
    The details of functions, tasks, powers and oganizational structure of
    Ministry of Industry and Trade are presented in Decree 95/2012/NĐ-CP dated
    12 November 2012 issued by the Government on functions, tasks, powers and
    organizational structure of Ministry of Industry and Trade.
    </p>
  </li>
  <li class="collection-item avatar">
    <img src="images/mard.jpg" alt="" class="circle">
    <span class="title"><strong>Ministry of Agriculture and Rural Development - <%= link_to "mard.gov.vn", "http://www.mard.gov.vn/", target: :_blank %></strong></span>
    <p>
      Ministry of Agriculture and Rural Development (MARD) performs state
      management functions in the fields of agriculture, forestry, salt production,
      fishery, irrigation/water services and rural development nationwide.
    </p>
    <p>
      The details of functions, tasks, powers and organizational structure of
      Ministry of Agriculture and Rural Development are presented in Decree
      199/2013/ND-CP issued by the Government dated 26 November 2013 on
      functions, tasks, powers and organizational structure of Ministry of
      Agriculture and Rural Development. 
    </p>
  </li>
  <li class="collection-item avatar">
    <img src="images/lcna.jpg" alt="" class="circle">
    <span class="title"><strong>Law Committee of the National Assembly</span>
    <p>
      To facilitate the activities between Law Committee and NLD, Legal
      Department of the Office of National Assembly has been assigned to
      coordinate with NLD and be a primary partner of the project. 
    </p>
    <p>
      According to Law on amendment and supplement of Law on organization of
      National Assembly 83/2007/QH11, Law Committee is mandated to examine the
      Government of Vietnam's proposal on laws and ordinances development program.
      It oversees the operations of government institutions related to areas of
      the Committee's mandate. It makes recommendation to consolidate the state
      machinery and legal system.
    </p>
  </li>
  <li class="collection-item avatar">
    <img src="images/oog.jpg" alt="" class="circle">
    <span class="title"><strong>Office of the Government</strong></span>
    <p>
      The Office of the Government (OOG) is the supporting mechanism for The
      Government and Prime Minister. It advises, supports the Government to
      organize activities, supports the Prime Minister and Vice Prime Minister,
      and manages missions of the Government.
    </p>
    <p>
      The details of functions, tasks, powers and organizational structure of
      the Office of the Government are presented in Decree 74/2012/ND-CP issued
      by the Government dated 29th September 2012 on the functions, tasks,
      powers and organizational structure of the Office of the Government. 
    </p>
  </li>
</ul>
