<div>
  <p>
    A brief introduction of all parties involved in the management of National
    Legislative Development Project (NLD)
  </p>

  <h5> Global Affairs Canada</h5>
  <p>
  	Global Affairs Canada has the responsibilities for managing Canada's support
    and resources effectively and accountably to achieve meaningful, sustainable
    results, engaging in policy development in Canada and internationally,
    enabling Canada's effort to realize its development objectives.
  </p>
  <p>
  	In 2009, as part of Canada's new&nbsp;aid effectiveness agenda, Vietnam was
    selected as a country of focus&nbsp;for international development. Canada's
    current program in Vietnam responds to the Government of Vietnam's poverty
    reduction priorities and focuses on improving the enabling environment for
    investment and to support rural enterprise development and agricultural
    competitiveness.
  </p>

  <h5>Canadian Executing Agency (CEA)</h5>
  <p>
  	The Canadian Executing Agency (CEA) of National Legislative Development
    Project is a consortium of the Canadian Bar Association (CBA), Ministry of the
    Attorney General of Ontario (MAG) and Stikeman Elliot LLP (SE). CEA was
    contracted as the Consultant of NLD Project by Department of Foreign Affairs,
    Trade and Development of Canada on March 29<sup>th</sup> 2012.&nbsp;</p>
  <p>
  	<em>The Canadian Bar Association</em> is a professional, voluntary
    organization which was formed in 1896, and incorporated by a Special Act of
    Parliament on April 15, 1921. Today, the Association represents some 37,000
    lawyers, judges, notaries, law teachers, and law students from across Canada.
    Approximately two-thirds of all practicing lawyers in Canada belong to the CBA.
    The mandate of the Canadian Bar Association is to improve the law; improve the
    administration of justice; improve and promote access to justice; promote
    equality in the legal profession and in the justice system; improve and
    promote the knowledge, skills, ethical standards and well-being of members of
    the legal profession; represent the legal profession nationally and
    internationally; and promote the interests of the members of The Canadian Bar
    Association.
  </p>

  <p>
  	<em>The Ministry of the Attorney General of Ontario</em> is responsible for
    providing a fair and accessible justice system which reflects the needs of the
    diverse communities it serves across government and the province. The Ministry
    delivers and administers a wide range of justice services including:
    administering approximately 115 statutes; conducting criminal proceedings
    throughout Ontario; providing legal advice to, and conducting litigation on
    behalf of, all government ministries and many agencies, boards and tribunals;
    providing advice on, and drafting, all legislation and regulations; and
    coordinating and administering court services throughout Ontario.
  </p>

  <p>
  	<em>Stikeman Elliott</em> is one of Canada's leading business law firms,
    recognized for top tier services in each of their core practice areas -
    corporate finance, M&amp;A, real estate, corporate-commercial law, banking,
    structured finance, tax, insolvency, competition and foreign investment,
    employment and business litigation. The firm plays the role as a PR agency for
    NLD Project. Stikeman Elliot was a key actor in managing the Policy Implementation
    Assistance Project (PIAP) in Vietnam from 1996 to 2013.&nbsp;
  </p>

  <p>
  	The organizational chart of Canadian Bar Association - CBA International
    initiatives
  </p>

  <p>
  	<img alt="" class="image-pm" src="http://nldvietnam.org/files/uploads/images/PM structure cut.png"/>
  </p>

  <h5>Project Steering Commitee (PSC)</h5>
  <p>
  	Project Steering Committee (PSC) has the responsibilities for: reviewing and
    monitoring the operating context of the Project, and the Project's&nbsp;basic
    assumptions, risks, and continued relevance; reviewing progress made toward the
    achievement of expected results in the Project both at the immediate outcome
    and intermediate outcome levels; reviewing and recommending amendments; reviewing
    and recommending approval for the annual work plans, results targets, budget
    allocations, and the schedule for the forthcoming fiscal year; resolving any
    policy level problems that may impede the implementation of the&nbsp;Project;
    and providing policy guidance, interpretation and advice.
  </p>

  <p>
  	The Project Steering Committee (PSC) meetings are chaired by both Global Affairs
    Canada (GAC) and Ministry of Justice (MOJ) and to discuss project performance
    to date, identify new issues or areas of intervention, provide overall direction
    and feedback to the project, and approve annual work plans.&nbsp;
  </p>


  <h5>Project Management Unit</h5>
  <p>
  	Project Management Unit (PMU) is based at Ministry of Justice with the head
    being a Deputy Director General of International Cooperation Department of MOJ.
    The PMU is the focal point working with NLD Office on both administrative and
    technical aspect and supporting NLD to cooperate with other partners and
    stakeholders of the project.
  </p>


  <h5>NLD Office</h5>
  <p>
  	The field office is based at Prime Center, 53 Quang Trung, Hanoi. It plays an
    essential role in the implementation of the project. A project team has gradually
    been built up with a group of capable and enthusiastic people: 1 field manager,
    3 program officers, 1 knowledge management and communications officer, &nbsp;3
    administrative and finance officers. This team contributes to the achievements
    of the project, along with the direct guidance from Canadian Executing Agency
    based in Canada and support from the Global Affairs Canada.&nbsp;
  </p>

  <p>
  	<img alt="" class="image-pm" src="http://nldvietnam.org/files/uploads/images/PM structure.png" />
  </p>

  <p>
  	<em>(From Annex I to Semi-annual report of NLD project from 1st April to 30th
      September 2015)</em>
  </p>
</div>
