<h5>About the Project</h5>
<p>
In 2009, as part of Canada's new aid effectiveness agenda, Vietnam was
selected as a country of focus for international development. Canada's current
program in Vietnam responds to the Government of Vietnam's poverty reduction
priorities and focuses on improving the enabling environment for investment
and to support rural enterprise development and agricultural competitiveness.
</p>
<p>
The National Legislative Development Project (NLD) is designed to assist the
Government of Vietnam (GOV) with reforming its law-making process and improving
the quality of economic legislation. The NLD supports the GOV in developing a 
coherent, effective, and transparent legal framework that reflects the needs
of Vietnamese citizens and supports equitable economic growth.
The NLD addresses the entire law-making process, from policy planning,
promulgating Legal Normative Documents (LNDs), to engaging its key
institutions and components. According to the <em>Law on Promulgation of Legal
Normative Documents 2015 (LPLND)</em>, LNDs consist of any legal document that
contains legal norms – binding rules of conduct by the state authority; this
includes legislation, resolutions, etc.
</p>

<h5>Scope</h5>
<p>
To achieve its goals, NLD collaborates with state institutions that produce
LNDs and are tasked with its implementation. Project activities are structured
around the four core components of the law-making process:
</p>
<ul class="tabbed">
  <strong>
  <li>(1) strategic planning,</li>
  <li>(2) policy development,</li>
  <li>(3) legislative drafting, and</li>
  <li>(4) legal system coherence.</li>
  </strong>
</ul>

<h5>Four Core Components</h5>
<ul class="browser-default square">
  <li>
    The <strong>Strategic Planning</strong> component focuses on improving the capacity of
    NLD partners to develop processes to identify, collect, and organize
    data needed for reforming and implementing legislation and regulation,
    to apply gender sensitive analysis, to monitor performance, and to report
    on results.
  </li>
  <p></p>
  <li>
    The <strong>Policy Development</strong> component focuses on improving the capacity of NLD
    partners to conduct policy research and analysis, and consult with the
    public, and incorporate gender perspectives.
  </li>
  <p></p>
  <li>
    The <strong>Legislative Drafting</strong> component focuses on improving the capacity of
    drafters to draft through standardization, including gender sensitive
    language, and ensure effective coordination between central and local
    levels government.
  </li>
  <p></p>
  <li>
    The <strong>Legal System Coherence</strong> component focuses on increasing the capacity
    of NLD partners to ensure laws are consistent, organized, and accessible.
  </li>
</ul>

<h5>Gender Equality</h5>
<p>
  Gender Equality (GE) has been enshrined in Vietnam’s Constitution and
  National Polices for more than two decades, but in practice, substantive
  equality is lagging behind. NLD’s mandate is to integrate gender equality
  as a cross cutting theme in all project activities by supporting the
  Vietnamese partners to apply the principles set out in domestic law and in
  international treaties ratified by Vietnam.
</p>

<h5>Strategy</h5>
<p>
  The NLD was designed by the Department of Foreign Affairs,
  Trade and Development to be executed in two phases:
</p>
<p>
  <strong>Phase 1</strong> involved conducting a thorough review of the policy and law-making
  processes in Vietnam. This was done in parallel to the preparation of the
  new Law on Promulgation of Legal Normative Documents (LPLD) by the Ministry
  of Justice (MOJ) and the Law Committee. The review process helped to assess
  the current state of law making in Vietnam. This initial phase was completed
  on the 31 March 2015. For more information see the
  <%= link_to 'Summary Report on Phase 1 of NLD project', 'http://nldvietnam.org/files/uploads/files/1_%20Summary%20of%20Phase%201%20of%20the%20NLD%2016_03_15.pdf'%>
  .
</p>
<p>
  <strong>Phase 2</strong> is implemented through a detailed Work Break-down Structure (WBS)
  articulating the four initial components. It aims to improve the law-making
  process by making it more efficient and delivering quality legislation and
  regulations. The annual work plans for Phase 2 are developed based on
  discussions with partners to determine their needs to engage in the
  implementation and approvals of new procedures for policy development and
  legislative drafting.
</p>

<h5>Implementing Partners</h5>
<p>
  <strong>In Vietnam:</strong> Ministry of Justice (lead partner); the Law Committee of the
  National Assembly; the Office of Government; Ministry of Finance; Ministry
  of Agriculture and Rural Development; and the Ministry of Industry and Trade.
</p>
<p>
  <strong>In Canada:</strong> The Canadian Executing Agency is a consortium of the Canadian Bar
  Association (CBA), Ontario Justice International, Ministry of the Attorney
  General of Ontario, and Stikeman Elliott LLP.
</p>
<p><strong>Duration:</strong> 7 years, starting in 2013</p>
<p><strong>Budget:</strong> CDN $15 million</p>
