---
title: About Us
---
<div id="content">
  <div class="container space-nav-about">
    <div id="test1" class="col s12 about-content">
      <%= partial "/partials/projectd.html.erb" %>
    </div>

    <div id="test2" class="col s12 about-content">
      <%= partial "/partials/partners.html.erb" %>
    </div>

    <div id="test3" class="col s12 about-content">
      <%= partial "/partials/projectm.html.erb" %>
    </div>
  </div>
</div>
