---
title: Home
---

<div id="content">
  <div class="container">
    <%= partial "/articles/tat-dec-2016.html.erb" %>
  </div>
  <div class="divider"></div>
  <div class="container">
    <%= partial "/articles/proposalcall-dec-2016.html.erb" %>
  </div>
  <div class="divider"></div>
  <div class="container">
    <%= partial "/articles/gender-equality-oct-2016.html.erb" %>
  </div>
  <div class="divider"></div>
  <div class="container">
    <%= partial "/articles/meeting-vm-aug-2016.html.erb" %>
  </div>
</div>
