---
title: Home
---
<div id="content">
  <div class="container">
    <%= partial "/articles/tat-dec-2016.html.erb" %>

    <div class="divider"></div>

    <p><strong>Call for Proposals</strong></p>
    <p>
      Calls for companies to develop and support software to manage and
      monitor the promulgation of legal normative documents.
    </p>

    <div class="divider"></div>

    <p><strong>Meeting to introduce Gender Equality Working Group</strong></p>
    <p>
    On 6th October 2016, Ministry of Justice and National Legislative
    Development Project (NLD) organized a meeting to introduce the Expert
    Group on evaluating gender mainstreaming in policy development and legislative ...
    "policy development and legislative "
    </p>

    <div class="divider"></div>

    <p><strong>Meeting between Vice Minister of Justice Dinh Trung Tung
    and National Legislative Development Project Office</strong></p>
    <p>
    On 17th August 2016, Vice Minister of Justice Dinh Trung Tung met with
    Ms. Kimberly Inksater – Project Director of National Legislative
    Development Project (NLD Project), Mr. Isabeau Vilandre – ...
    </p>
  </div>
</div>
